.slider-image{
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    align-content: center;
    align-items: center;
    margin-left: 2px;
    width: auto;
}

.slider-wrapper{
    display: flex;


}

.slider-div{
    display: flex;


}

.slider-list{
    display: flex;


}